html{
   background-color:  #1a1a1a;
    align-content: center;
  }
.header{
  display: inline-flex;
  flex-direction: row;
}

.Titlu_pagina{
  position: relative;
  z-index: -1;
  display: inline-block;
  align-items: center;
  left: 35%;
}

/*CSS pentru impartirea pe coloane a paginii*/
.grid{
    display: block;
}
#gr
{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
#gr section:nth-child(1)
{
  color: blanchedalmond;
  position: relative;
  text-align: left;
  display: block;
  display: inline-block;
  z-index: -1;
}

#gr section:nth-child(3){
    color: blanchedalmond;
    position: relative;
    text-align: left;
    display: block;
    display: inline-block;
    z-index: -1;
}
/*CSS meniu*/
/*container de navigare */
.navbar {
  overflow: hidden;
  font-family: Arial;
  display: inline-block;
  text-align: center;
  padding-left: 0px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  background-color: #1a1a1a;
  padding-top: 30px;
}

.ul{
  display: inline-flex; 
  list-style-type: none; 
  padding-left: 0px;
}

/* Links inside the navbar */
.navbar a 
{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown 
{
  float: left;
  overflow: hidden;
  padding-left: 6px;
  
}

/* buton dropdown */
.dropdown .buton_dropdown 
{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* vertical pe telefon */
  margin: 0;
  z-index: 100;
}

/* background roz */
.navbar a:hover, .dropdown:hover .buton_dropdown 
{
  background-color: rgb(228, 139, 139);
  z-index:1;
}

/* continut dropdown (ascuns) */
.dropdown-content 
{
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

/* link-uri in dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

/* fundal gri la trecerea cu cursorul */
.dropdown-content a:hover {
  background-color: #ddd; 
}

/* dropdown menu la trecerea cu cursorul */
.dropdown:hover .dropdown-content {
  display: block;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  z-index: -1;
  position:relative;
}

/* 3 coloane */
.column {
  flex: 25%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container_img {
  position: relative;
  width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
  height: 50%;
  z-index: -1;
}

.container_img .continut {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
 /* background: rgb(29, 26, 26); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: blanchedalmond; 
  width: 100%; /* Full width */
  padding-left: 5%; /* Some padding */
  column-fill: auto;
  height: 40%;
  margin-bottom: 0px;
  text-align: justify;
}
.continut h4{
  margin-top: 0px;
}
footer
{
  text-align: center;
  color: blanchedalmond;
  font-size: 65%;
}
/* Responsive 1 singura coloana */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
  html{
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
  }
  main{ right: 0%;
    align-items: center;
    margin-right: 0px;
  }
  
  #gr{
      grid-template-columns: auto;
  }
  #gr section:nth-child(3)
  {
      grid-area: 1/1/1/1;
      margin-left: auto;
      margin-right: auto;
      
    }
    .Titlu_pagina{
      height: 200px;
      width:100%;
      align-self: center;
      left: 35%;
    }
    .header{
      display: block;
      align-self: center;
    }
}

/* Responsive o coloana */
@media screen and (max-width: 600px) {
  main{ 
  right: 0%;
  align-items: center;
  margin-right: 0px;
}

#gr{
    grid-template-columns: auto;
}
#gr section:nth-child(3)
{
    grid-area: 1/1/1/1;
}
.column {
    flex: 50%;
    width: 100%;
  }
    .header{display: block;}
    .Titlu_pagina{
      height: 200px;
      width:100%;
      align-self: center;
      left: 35%;
    }
    .dropdown{
      width: 100%;
    }
    .buton_dropdown{
      width: 100%;
    float: none;
    display: block;
    text-align: left;
    }

  }