body{
  background-color:  #1a1a1a;
  overflow-x: hidden;
 }
.curent
{
	background-color: red;
}

.header{
 display: inline-flex;
 flex-direction: row;
 width: 100%;
}

#utilizLogat
{
	display: flex;
	flex-direction: row;
	text-decoration: none;

}
  
.Titlu_pagina{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 70% 70%;
}
.Titlu_pagina img{
	align-self: auto;
	padding-left: 50%;
}
.Titlu_pagina #getVarsta
{
	padding-left: 0%;
	padding-right: 20%;
	width: 80%;
	color: burlywood;
}
#getVarsta #inputForm input{
	padding-bottom: 0%;
}
#getVarsta #inputForm button
{
	background-color: red;
	height: 80%;
	padding-top: 5%;;

}
nav{
	
	position: absolute;
	top: 5%;
	left: 2%;
  z-index: 1;
  list-style-type: none;
 
}

ul#meniu, ul#submeniu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

ul#meniu>li>a, #submeniu>li>a, #submeniu>li>.sgnUP, #submeniu>li>.logInBtn {
	display: block;
	overflow: hidden;
	color: blanchedalmond;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}
#submeniu>li>a, #submeniu>li>.sgnUP, #submeniu>li>.logInBtn
{
background-color: blanchedalmond;
color: brown;
}

ul#submeniu{
	position: absolute;
	display: none;
	z-index: 1;
}

li#sm:hover #submeniu{
	display: block;
}

li.left{
	float: left;
}



li a:hover{
  background-color: rgb(228, 139, 139);
  transition: background-color 0.5s;
}
#submeniu>li>a:hover, #submeniu>li>.sgnUP:hover, #submeniu>li>.logInBtn:hover{
  background-color: rgb(228, 139, 139);
  color:blanchedalmond
}

.butonBack
{
	width: 100px;
	height: 25px;
	text-align: center;
	color: blanchedalmond;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.butonBack:hover
{
	transition: background-color 0.5s;
	box-shadow: grey 0px 0px 8px;
	transition: box-shadow 0.5s;
}
#contact
{
  text-align: center;
  color: blanchedalmond;
  font-size: 85%;
  width: 100%;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:10px;
}
#contact>h2{

    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    text-align: center;
    padding-top: 40px;
	font-size: 30px;
	color: blanchedalmond;
}
#contact>address{
	margin-top:10px;
}

.fa {
    padding: 20px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-yahoo {
    background: #430297;
    color: white;
  }


@media (min-width: 992px) and (max-width: 1199.98px) 
{
	.Titlu_pagina
	{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	}
	nav{
		width: 100%;
		left: 0%
	}
	.Titlu_pagina img
	{
		padding-left: 0%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.98px)
{
	.Titlu_pagina{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	  }
	  nav{
		width: 100%;
		left: 0%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767.98px) 
{
	body{
		overflow-x: hidden;
		margin: 0%;
		width: 100vw;
	}
	.Titlu_pagina{
		margin-left: auto;
		margin-right: auto;
		padding-top: 10%;
	  }
	  nav{
		width: 100%;
		left:0%;
	}
}
@media screen and (max-width: 575.98px)
{
	nav{
		font-size: 10px;
	}
	.Titlu_pagina{
		display: block;
		margin-left: auto;
	margin-right: auto;
		padding-top: 15%;
	}
	.Titlu_pagina img
	{
		padding-left: 25%;
	}
	.Titlu_pagina #getVarsta
	{
		padding-left: 10%;
	}
	nav{
		width: 100%;
		left: 0%;
	}
}
