<footer id="contact">
            <p id = "nrCuv"></p>
            <h2>Contact:</h2>
            <address>Str. Aromelor Nr. 75 Bis</address>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="mailto:cpluspluscoffe@yahoo.com" class="fa fa-yahoo"></a>
            <div onclick="history.back()" class="butonBack">
                <h2>Go back!</h2>
            </div>
</footer>