<header >
    <div class="header">
        <div>
            <nav>
                <ul id = "meniu">
                    <li class = "left"> <a href = "/index">Acasa</a> </li>
                    <li class="left"> <a href = "/produse2">Produse</a> </li>
                    <li class = "left" id = "sm"> <a>Contul meu</a>
                        <ul id = "submeniu">
                            <li> <a href = "/cont2">Login</a> </li>
                            <li> <a href = "/livrari2">Cos si comenzi</a> </li>
							<li>
					<button onclick="document.getElementById('SgnUpForm').style.display='block'" class="sgnUP">Sign up!</button>
					<div id="SgnUpForm" class = "upForm">
						<form class = "continutUpForm">
						<div class = "containerForm"> 
							<h1> Ingregistreaza-te!</h1>
							<hr>
							<label for = "nume"><b>Nume utilizator</b></label>
							<input type="text" placeholder="Nume" name="nume" required>
							<label for = "prenume"><b>Prenume utilizator</b></label>
							<input type="text" placeholder="Prenume" name="prenume" required>
							<label for = "email"><b>Email</b></label>
							<input type="text" placeholder="Email" name="email" required>
							<label for = "password"><b>Parola</b></label>
							<input type="password" placeholder="Parola" name="password" required>
							<label for = "password2"><b>Reintroduceti parola</b></label>
							<input type="password" placeholder="Reintroduceti parola" name="password2" required>
							<label><input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me</label>
							<div class = "clearfix">
								<button type="button" onclick = "document.getElementById('SgnUpForm').style.display='none'" class = "cancelbtn"> Cancel</button>
								<button type="submit" class="signupbtn">Sign Up</button>
							</div>	
						</div>
						</form>
					</div>
					<li>
                        </ul>
                    </li>
					
						
        <div class="Titlu_pagina">
            <img src="Poze/cont.png" alt="Sigla pagina">
        </div>
        </div>
        </header>