<header >
            <div class="header">
            <div>
                <nav>
					<ul id = "meniu">
						<li class = "left"> <a href = "/index">Acasa</a> </li>
						<li class="left"> <a href = "/produse2">Galerie</a> </li>
						<li class="left"> <a href = "/rezervari2">Produse</a> </li>
						<li class = "left" id = "sm"> <% if(!locals.username) {  %><a>Contul meu</a>
							<ul id = "submeniu">
								<li>
						<button onclick="document.getElementById('SgnUpForm').style.display='block'" class="sgnUP">Sign up!</button>
						<div id="SgnUpForm" class = "upForm">
						<% if(!locals.rsstatus) { %><!-- verific daca status e definit-->
							<form class = "continutUpForm date" method="post" action="inreg">
							<div class = "containerForm"> 
								<h1> Ingregistreaza-te!</h1>
								<hr>
								<label for = "username"><b>Username</b></label>
								<input type="text" placeholder="Username" name="username" required>
								<label for = "nume"><b>Nume utilizator</b></label>
								<input type="text" placeholder="Nume" name="nume" required>
								<label for = "prenume"><b>Prenume utilizator</b></label>
								<input type="text" placeholder="Prenume" name="prenume" required>
								<label for = "email"><b>Email</b></label>
								<input type="text" placeholder="Email" name="email" required>
								<label for = "parola"><b>Parola</b></label>
								<input type="password" placeholder="Parola" name="parola" required>
								<label>Oras:
									<select name="oras">
										<option value="Bucuresti">Bucuresti</option>
										<option value="Ploiesti">Cluj</option>
										<option value="Iasi" selected>Iasi</option>
										<option value="Brasov">Cluj</option>
										<option value="Constanta" >Constanta</option>
										<option value="Timisoara">Timisoara</option>
										<option value="Cluj">Cluj</option>
										<option value="Targoviste">Cluj</option>
	
									</select>
								</label>
								<div class = "clearfix">
									<button type="button" onclick = "document.getElementById('SgnUpForm').style.display='none'" class = "cancelbtn"> Cancel</button>
									<button type="submit" class="signupbtn">Sign Up</button>
								</div>	
							</div>
							</form>
							 <% } else if(rsstatus=="ok"){ %>
				<p>Date introduse</p>
			<% } else {%>
				<p>Eroare</p>
			<% } %>
						</div>
						</li>
						<li>
							<button onclick="document.getElementById('LogInForm').style.display='block'" class = "logInBtn">Log in</button>
							<div id="LogInForm" class = "InForm">
							<span onclick="document.getElementById('LogInForm').style.display='none'" class="close" title = "Close">&times;</span>
								<% if(!locals.username) {  %>
							<form method="post" class = "continutLogIn" action = "/login">
							<div class = "containerIn">
								<label for = "username"><b>Username</b></label>
								<input type="text" placeholder="Username" name="username" required>
								<label for = "parola"><b>Parola</b></label>
								<input type="password" placeholder="Parola" name="parola" required>
								<div class = "clearfix" style="background-color:#f1f1f1">
								<button type="submit" class = "loginbtn">Login</button>
								<button type="button" onclick="document.getElementById('LogInForm').style.display='none'" class="cancelbtn1">Cancel</button>
								<span class="psw">Forgot <a href="#">password?</a></span>
								</div>
							</div>
							</form>
							<% }%>
							<% }
							else { %>
								<div id = "utilizLogat">
							<div style="color: blanchedalmond;">Utilizator logat: <%= locals.username  %></div>
							<button class = "cancelbtn"><a href="/logout">Logout</a></button></div>
							<% } %>
							</div>
						<li>
							</ul>
						</li>
						
					</ul>
					
				</nav>
        </div>
        <div id = "fer" class="Titlu_pagina" >
            <img onmousedown="myalert_a()"   src="Poze/produse.png" alt="Sigla pagina">
        </div>
        </div>
        </header>