<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Log in page">
		<meta name = "author" content = "Carutasu Stefania">
		<meta name = "keywords" content = "eroare, cafenea">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		
		<link rel = "shortcut icon" type = "image/x-icon" href = "/media/favicon.ico">
		
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="Poze/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="CSS/stil_idex.css">

		<script src = "/js/script-meniu.js"></script>
		
		<title> 404 :( </title>
	</head> 
	
	<body>
		
		<main>
			<section>
            <h1 style = "text-align: centre"> Hopa! </h1>
            <p style = "text-align: centre"> Din pacate nu am putut sa iti oferim ceea ce cautai</p>
            <p> <a href = "/index" style = "text-decoration: none; color: black;"> Apasa aici ca sa te intorci </a> </p>
			</section>
			<figure><img src="../Poze/404.jpg" style = "display: block; width: 100%; height: auto;">
		</main>
	</body>
</html>