<!DOCTYPE html>
<html lang="ro">
	<head>
        <title>Contul meu</title>
		<meta charset="UTF-8">
		<meta name="keywords" content="cafea, cafenea, Bucuresti">
		<meta name="author" content="Cafenea">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="../Poze/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="CSS/stil_produse.css">
        <link rel="stylesheet" type="text/css" href="CSS/meniu.css">
        <link rel="stylesheet" type="text/css" href="CSS/stil_cont.css">
        <link rel="stylesheet" type="text/css" href="CSS/stilInreg.css">
        <link rel="stylesheet" type="text/css" href="CSS/quiz.css">  
        <script src="JavaScript/inregistrare.js"></script>
        <script src="JavaScript/Quizz.js"></script>
   </head>
    <body style="background-color: #1a1a1a;">
        <%- include('../fragmente/headercont.ejs') %>
        <main>
            <div id="quiz"></div>
            <button id="submit">Get Results</button>
            <div id="results"></div>
        </main>
        <%- include('../fragmente/footer.ejs') %>
        
    </body>
</html>