<!DOCTYPE html>
<html lang="ro">
	<head>
        <title>Produse</title>
		<meta charset="UTF-8">
		<meta name="keywords" content="cafea, cafenea, Bucuresti, rezervari">
		<meta name="author" content="Carutasu Stefania">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="../Poze/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="CSS/stil_produse.css">
        <link rel="stylesheet" type="text/css" href="CSS/meniu.css">
		<link rel="stylesheet" type="text/css" href="CSS/stilInreg.css">
		<link rel="stylesheet" type="text/css" href="CSS/stilLogare.css">
		<link rel="stylesheet" type="text/css" href="CSS/stilJSON_produse.css">
		<link rel="stylesheet" type="text/css" href="CSS/butonTop.css">
		<script src="JavaScript/ejs.min.js"></script>
		<script src="JavaScript/butonTop.js"></script>
        <script src="JavaScript/logare.js"></script>
		<script src="JavaScript/inregistrare.js"></script>
		<script src="JavaScript/aplicatieSortare.js"></script>
		<script src="JavaScript/nrCuvinte.js"></script>
		<script src="JavaScript/marcarePagActiva.js"></script>
		<script src="JavaScript/numarareClickButon.js"></script>
		<script src="JavaScript/afisProduse.js"></script>
    </head>
    <body style="background-color: #1a1a1a;">
        <%- include('../fragmente/headerrezervari.ejs') %>
        <main>
			<div class="butoane">
				<button id = "sorteazaCrescator" >Sortati dupa pret: crescator</button>
				<button id = "sorteazaDescrescator">Sortati dupa pret: descrescator</button>
				<button id = "faraAlergeni">Afisati produsele fara alergeni</button></li>
				<button id = "afisTot" >Afisati toate produsele disponibile</button>
				<button id = "afisOferta" >Afisati oferta disponibila</button>
				<section id="result" style="color: blanchedalmond;"></section>
			</div>
            <div class="afis" id="afisTemplate">
            </div>
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        </main>
        <%- include('../fragmente/footer.ejs') %>
        
    </body>
</html>